*{
    margin: 0;
    padding: 0;
    background-color: teal;
}

body{
    text-align: center;
    
}

h1{
    font-size: 5rem;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

#Clock
{
   padding: 10px;
   font-size: 30px;
   color: white;
   margin-top: 10%;
}

#buttons
{
    padding: 10px;
    
}
.switch:hover{
    
    box-shadow: 1px 1px 1px 1px;
}
.start
{
    padding: 20px;
    margin: 2px;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}

.stop
{
    padding: 20px;
    margin: 2px;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}
.reset
{
    padding: 20px;
    margin: 2px;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}

.btn-click
{
     background-color: white;
     color: teal;
}

